html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}
html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Cascadia Code", monospace;
  background-color: $background;
  color: $foreground;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}